footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: white;
}

.font-style-footer{
    color: black;
    font-weight: bold;
}

h2{
    font-size: 11px;
}

h3{
    font-size: 10px;
    font-style: italic;
}