.grid-home-container {
    display: grid;
    grid-template-columns: 40% 60%;
    max-width: 90%;
    margin: auto;
    margin-top: 20vh;
    background-color: white;
}

.grid-item-home-container{
    width: 100%;
    height: 100%;
    text-align: left;
}

#h1-title1{
    font-size: 40px;
    padding-top: 70px;
    padding-left: 30px;

}

#h1-title2{
    font-size: 50px;
    padding-left: 30px;
    color: #17ccfb;
}

#p-home{
    font-size: 20px;
    font-weight: 500;
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 80px;
    line-height: 30px;
}

#foto-grid-home{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.button-planos{
    display: grid;
    grid-template-columns: 60% 40%;
    width: 23%;
    place-items: center;
    background-color: rgb(250, 250, 250);
    color: #17ccfb;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid #17ccfb;
    padding: 15px 20px 15px 20px;
    margin-left: 66%;
    margin-top: 23%;
}


.button-planos:hover{
    width: 26%;
    margin-left: 64%;
    margin-top: 23%;
    font-size: 20px;
}

@media (max-width: 1530px) {
    .grid-home-container{
        display: flex;
        flex-direction: column;
        justify-content: left
        ;
    }
}